@charset 'UTF-8';

*{
    /*height: 100%;*/
    font-family: Arial, Helvetica, sans-serif;
}

body{
background-image: linear-gradient(to right, #44B4F2, #47ECFC);
}

main{
    background-color: #2f8d7b;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(42, 112, 150, 0.58);
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1{
    color: #44F270;
    text-align: center;
    text-shadow: 1px 1px 2px rgba(39, 143, 65, 0.655);
}

h2{
    color: #47FCA8;
}

p{
    text-align: justify;
    color: white;
}